.text-col-2-b {
    position: relative;
    padding: 80px 0 113px;

    @media (max-width: $md3+px) {
        padding: 50px 0;
    }

    &.text-col-2-b_v2 {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 100px;

        @media (max-width: $md3+px) {
            margin-bottom: 50px;
        }

        &:before {
            display: none;
        }

        & .text-col-2-b__body {
            @media (min-width: 992px) {
                padding-top: 15px;
            }
        }
    }

    &.text-col-2-b_revers {
        @media (min-width: 768px) {
            padding-bottom: 106px;
        }
        &:before {
            display: none;
        }

        & > .container {
            display: flex;
            justify-content: flex-end;
        }

        & .text-col-2-b__body {
            @media (min-width: 992px) {
                padding-right: 0;
                min-height: 1105px;
            }
        }

        & .text-col-2-b__right {
            right: auto;
            left: 0;
            display: flex;
            justify-content: flex-end;

            @media (max-width: 1490px) {
                padding-right: 40px;
            }

            @media (max-width: $md2+px) {
                padding-right: 0;
            }

            & .mini-gallery {
                transform: translate(0px, -352px);
    
                @media (max-width: $md1+px) {
                    transform: translate(0px, -200px);
                }
    
                @media (max-width: $md2+px) {
                    transform: translate(0,0);
                    margin: 0 auto;
                }
            }
        }
    }

    &.text-col-2-b_flex {
        padding-top: 58px;
        &:before {
            display: none;
        }

        & .text-col-2-b__body {
            padding-right: 0;
            width: auto;
            max-width: none;
            min-height: auto;

            @media (min-width: 1268px) {
                display: flex;
            }

            & .text-col-2-b__body__col {
                &:first-child {
                    flex: 0 0 49.2%;
                    margin-bottom: 50px;
                    @media (min-width: 1268px) {
                        margin-right: 5.1%;
                        margin-bottom: 0;
                    }
                    
                }
                &:last-child {
                    flex: 1 1 auto {

                    }
                }
            }

            & .hero-card {
                margin-top: -357px;

                @media (min-width: 1268px) {
                    margin-top: -657px;
                }

                @media (max-width: $md3+px) {
                    margin-top: -200px;
                }
    
            }
        }
    }

    &.text-col-2-b_v3 {
        padding: 0;
        & .text-col-2-b__body {
           
            max-width: none;
            min-height: auto;
            width: auto;
            padding: 0 !important;

            @media (min-width: 992px) {
                display: flex;
            }
        }

        & .text-col-2-b__body-col-1 {
            flex: 1 1 auto;
        }
        & .text-col-2-b__body-col-2 {
            flex: 0 0 49%;
        }
    }


    &:before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 37.34%;
        background-color: #eeeeee;
    }

    &__right {
        @media (min-width: 992px) {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 50%;
            z-index: 2;
        }

        & .mini-gallery {
            transform: translate(17px, -167px);

            @media (max-width: $md1+px) {
                transform: translate(17px, -80px);
            }

            @media (max-width: $md2+px) {
                transform: translate(0,0);
                margin: 0 auto;
            }
        }
    }

    &__body {
        margin-bottom: 50px;

        @media (min-width: 992px) {
            min-height: 541px;
            margin-bottom: 0;
            width: 50%;
            padding-right: 40px;
            max-width: 694px;
        }
    }

    &__title {
        margin-bottom: 42px;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }
}

