.services-detail-page {
    & .hero {
        @media (max-width: $md2+px) {
            margin-bottom: 50px;
        }
    }
}
.services-big-list {
    margin-bottom: 82px;

    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }
    & .services-item {
        &:not(:last-child) {
            @media (max-width: $md2+px) {
                margin-bottom: 50px;
            }
        }

        &:nth-child(even) {
            & .services-item__img {
                left: auto;
                right: 0;
            }

            & .services-item__body {
                align-items: flex-start;
            }

            & .services-item__content {
                @media (min-width: 1268px) {
                    margin-left: 1.9%;
                }
        
                @media (min-width: 992px) {
                    margin-right: 6.7%;
                }
            }
        }
    }
}

.services-item {
    position: relative;
    &__img {
        z-index: 1;
        @media (min-width: 992px) {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 55.8%;
        }

        @media (max-width: $md2+px) {
            padding-bottom: 70%;
            width: 100vw;
        }

        @media (max-width: 575.98px) {
            padding-bottom: 0;
            height: 400px;
        }
    }

    &__body {
        position: relative;
        z-index: 2;

        @media (min-width: 992px) {
            min-height: 863px;
            padding: 80px 0 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        @media (min-width: 1268px) {
            margin-right: 1.9%;
        }

        @media (min-width: 992px) {
            max-width: 1008px;
            margin-left: 6.7%;
        }

        @media (max-width: $md2+px) {
            margin-top: -200px;
        }
    }
}

.services-big-card {
    box-shadow: 0 3px 40px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    @media (min-width: 768px) {
        display: flex;
    }

    @media (max-width: $md3+px) {
        padding: 40px 30px 40px;
    }

    @media (max-width: $md4+px) {
        padding: 30px 15px 30px;
    }

    &__col-1 {
        @media (min-width: 768px) {
            flex: 0 0 39.5%;
            padding: 78px 30px 74px 7.4%;
        }
    }

    &__col-2 {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.89em;

        @media (min-width: 768px) {
            min-height: 528px;
            flex: 1 1 auto;
            padding: 73px 8% 45px 0px;
        }

        & p {
            margin-bottom: 1em;
        }

        & .accordion {
            margin-top: 30px;
            max-width: 507px;
        }
    }

    &__title {
        color: $mainColor;
        margin-bottom: 25px;
    }
}
.title-3 {
}
